*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset,
input {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/*pattern visually-hidden*/
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 800px;
  padding: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  appearance: none; /* this property is used to display platform-specific styling */
}

.search-form__fieldset-title {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: inherit;
  width: 225px;
  height: 27px;
  background-color: transparent;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.search-form__textfield::placeholder {
  color: #ffffffb2;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  padding: 2px;
}

.search-form__pseudo-checkbox::before {
  content: "";
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  opacity: 0;
}

.search-form__label
.search-form__checkbox:checked
+ .search-form__pseudo-checkbox::before {
  opacity: 1;
}
/*common styles for button*/
.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: inherit;
  border: 1px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
  padding: 2px 5px;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  height: 34px;
}

.content__details {
  max-width: 399px;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  width: 399px;
  height: 298px;
  overflow-x: hidden; /* hide horizontal scroll*/
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  padding: 2px 2px 4px;
  color: #ffffff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  gap: 5px;
}

.content__video-card-description-container {
  width: 200px;
  height: 100%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  word-break: break-all;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
}

.content__video-card-thumbnail {
  max-width: 194px;
  height: 103px;
}

.more-button {
  width: 399px;
  height: 34px;
}