*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset,
input {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
/*pattern visually-hidden*/
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  height: 534px;
  column-gap: 30px;
  margin: 0 auto;
  overflow: hidden;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 54px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  margin-right: 1px;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  margin: 2px 2px;
  opacity: 0;
}

.search-form__label
.search-form__checkbox:checked
+ .search-form__pseudo-checkbox::before {
  opacity: 1;
}

.search-form__textfield {
  background-color: transparent;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  height: 27px;
  width: 244px;
  appearance: none;

  &::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  overflow: scroll;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  color: #ffffff;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__card-link {
  color: #ffffff;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  max-height: 34px;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  padding: 6px 73px;
}

.more-button {
  width: 100%;
  padding: 6px 144px;
}










